@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Roboto&display=swap');
body {
  background-color: #307D3B;
  font-family:Helvetica, Arial;
}

h1 {
  color: fuchsia;
  font-family:"Comic Neue", Helvetica;
}

h2, h3, h4 {
    background-color: #DDD92A;
    font-family:"Comic Neue",Helvetica;
    font-size:1.1em;
    padding: 1em;
}

main {
  background-color: #ffffff;
}

nav a {
    color: #EAE151;
    
} 

#content {
  margin: 0 auto;
  max-width: 960px;
  padding-left: 1.1em;
  padding-right:1.1em;
}

.home-headline-1, .home-headline-2 {
  margin-top: 2em;
  margin-bottom: 0;
}

.home-paragraph-1, .home-paragraph-2 {
  line-height:1.5;
  margin-top:.5em;
  padding-left: 1.1em;
  padding-right:1.1em;
}

.home-paragraph-3 {
  text-align: center;
}

.home-paragraph-3 h2 {
  margin-top: 2em;
  margin-bottom: 0;
}

.home-paragraph-3 p {
  line-height:1.5;
  margin-top:.5em;
  padding-left: 1.1em;
  padding-right:1.1em;
}

/*This is not require for assignments */
#linkedin {
  width: 75px; 
}

/* testing studnet web pages */

#max-wodth-div{
  max-width: 900; 
}
