h1 {
  color: fuchsia;
}
h2 {
  background-color: salmon;
}
#content {
  max-width: 960px;
}
.paragraph-1 {
  margin: 25px 50px 75px 100px;}

#content {
  max-width: 980px;
}
.paragraph-1 {
  text-align: center; font-size: 18px; font-style: italic; font-family: "Bradley Hand", cursive;
}
.paragraph-2 {
  text-align: center; font-size: 18px; font-weight: bold; line-height: 1.5em; text-decoration: underline;
}

#content {
  background-color: #CCFCCB;
}
nav a {
    color: #416243;
}